
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layoutSite.cshtml";
}
<div class="container" >
    <h2>
        Công ty Eshop là thương hiệu thời trang số 1 quận 9

    </h2>
    <p style="line-height:40px">
        Ra mắt năm 2015, nền tảng thương mại Eshop được xây dựng nhằm cung cấp cho người sử dùng những trải nghiệm dễ dàng, an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.

        Chúng tôi có niềm tin mạnh mẽ rằng trải nghiệm mua sắm trực tuyến phải đơn giản, dễ dàng và mang đến cảm xúc vui thích. Niềm tin này truyền cảm hứng và thúc đẩy chúng tôi mỗi ngày tại Shopee.


    </pstyle="line-height:200px">
    <a href="~/">KHÁM PHÁ Eshop ngay!</a>
</div>

